.sidebar {
  width: 20rem;
  padding: 1rem;
  height: fit-content;
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 0.5rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding: 1rem 1rem 1rem;

}

.header {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}

.iconWrapper {
  background-color: rgba(249, 115, 22, 0.2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #f97316;
  width: 1.25rem;
  height: 1.25rem;
}

.resetButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: transparent;
  border: none;
  color: #94a3b8;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: color 0.2s;
}

.resetButton:hover {
  color: #f97316;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.priceRangeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.priceRangeLabels {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #64748b;
}

.slidersContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgba(203, 213, 225, 1);
}

.sliderRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sliderLabel {
  font-size: 0.75rem;
  min-width: 30px;
}

.priceSlider {
  flex: 1;
  height: 6px;
  border-radius: 5px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.priceSlider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4f46e5;
  cursor: pointer;
}

.priceSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4f46e5;
  cursor: pointer;
  border: none;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #cbd5e1;
}

.select {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #334155;
  background-color: #1e293b;
  color: #e2e8f0;
}

.activeFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  color: #94a3b8;
}

.badge {
  background-color: rgba(249, 115, 22, 0.2);
  color: #f97316;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
}

.noFilters {
  color: #94a3b8;
}
