.navbar {
    width: 100%;
    background-color: #0f172a;
    padding: 1rem 4rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f97316;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLink {
    background-color: #f97316; /* portocaliu de bază */
    border: 2px solid #f97316;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: white; /* text alb pentru contrast */
    transition: all 0.2s ease;
}

.navLink:hover {
    background-color: #d65a00; /* portocaliu mai închis la hover */
    color: white;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 23, 42, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #293655;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 1001;
    position: relative;
}

.modalH2 {
    font-size: 1.5rem;
}

.modalP {
    font-size: 1rem;
}

.modalInput {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modalSubmit {
    background-color: #f97316;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.modalClose {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
